@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

* {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;

  box-sizing: border-box;
}

.delete-btn,
.finished-btn,
.edit-btn,
.edit-input,
.edit-form,
form {
  display: inline-block;
}

body {
  background-image: url("../imgs/abstract-digital-grid-black-background (1).jpg");

  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;

  margin: 0 auto;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.container-submit {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 250px; /* Sets a fixed width of 200 pixels */
  /* overflow-wrap: break-word; */
}

.taskspan,
span {
  /* word-wrap: break-word; */
  display: inline-block;
  max-width: 150px;
  word-break: break-all;

  flex-grow: 4;
}

.color-ul-finished {
  color: gray;
  opacity: 0.6;
}

.container form input[name="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container-input {
  text-align: center;
}

.card {
  padding: 1rem;
}

.task-item {
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  margin-top: 1rem;
  padding: 2rem;

  display: flex;
  justify-content: space-around;
  flex-grow: 5;
}

.cont {
  display: flex;
  align-items: flex-start;
}

.finished {
  max-height: fit-content;
  display: flex;
  justify-content: flex-start;
}

.done {
  width: 200px;
}

button[name="idDelete"],
button[name="idUnfinished"],
button[name="idFinished"] {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color 0.3s;
}

button[name="unfinished-btn"] {
  margin-right: 2rem;
  padding-right: 2rem;

  padding: 0 0.25rem 0 0.25rem;
}

/* CSS */
.button-67 {
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  font-size: 0.75rem;
  padding: 10px;
  justify-content: center;
  line-height: 1.5rem;
  position: relative;
  text-align: left;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.button-67:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}

/* Parent background */
/* #F5F5FA */
