@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

* {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;

  box-sizing: border-box;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #ffb6c1 50%, #8a2be2 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.finished-btn,
.edit-btn,
.edit-input,
.edit-form,
form {
  display: inline-block;
}

.delete-btn {
  display: flex;
  align-items: flex-start;
  margin-left: 0.5 rem;
}

body {
  background-image: url("../imgs/abstract-digital-grid-black-background (1).jpg");

  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.95); /* White with 80% opacity */
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;

  margin: 0 auto;
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 200px;
  position: absolute;

  top: 0;
}

.edit-btn {
}

span input[type="submit"] {
  padding: 0 1rem 0 1rem !important;
}

.container-submit {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 250px; /* Sets a fixed width of 200 pixels */
  /* overflow-wrap: break-word; */
}

input#text {
  height: 3rem;
}

.taskspan,
span {
  /* word-wrap: break-word; */
  display: inline-block;
  max-width: 150px;
  word-break: break-all;

  flex-grow: 4;
}

.color-ul-finished {
  color: gray;
  opacity: 0.6;
}

.container form input[name="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container-input {
  text-align: center;
}

.card {
  padding: 1rem;
}

.task-item {
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ececec;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  flex-grow: 5;
}

span input[type="submit"] {
  font-size: 0.9rem !important;
}
div .deleteAll {
  display: flex;
  justify-content: flex-end;
}

input .deleteAll {
  padding: 0 1rem 0 1rem !important;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
}

.cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.finished {
  max-height: fit-content;
  display: flex;
  justify-content: flex-start;
}

.done {
  width: 200px;
}

button[name="idDelete"],
button[name="idUnfinished"],
button[name="idFinished"],
.edit-btn,
button.save {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color 0.3s;
}

button[name="unfinished-btn"] {
  margin-right: 2rem;
  padding-right: 2rem;

  padding: 0 0.25rem 0 0.25rem;
}

/* CSS */
.button-67 {
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  font-size: 0.75rem;
  padding: 5px 15px 5px 15px !important;
  justify-content: center;
  line-height: 1.5rem;
  position: relative;
  text-align: left;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.button-67:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}

/* Parent background */
/* #F5F5FA */
